@media screen and (min-width: 850px) {
    nav {
        float: left;
        width: 10%;
        
    }

    #buttonShop {
        background-color: rgb(255, 223, 127);
        width: 150px;
        font-size: 1rem;
        height: 50px;
        border: none;
        border-radius: 40px;
        margin: 10px;
    }

    .image {
        width: 50%;    
    }

    .honey {
        width: 50%;
        display: inline-block
    }

}